body {
  font-family: Arial, sans-serif;
  display: flex;
}

#file-select-div {
  text-align: center;
  padding: 1em;
  width: 28em;
  height: fit-content;
  border: 2px solid #333;
}

#b-flow-div,
#e-flow-div {
  background-color: #f9f9f9;
  transition: transform 0.2s ease;
}


#b-flow-div input[type="file"],
#e-flow-div input[type="file"]{
  max-width: 25%;
  max-width: 25%;
}


#b-flow-div input[type="text"],
#e-flow-div input[type="text"]{
  width: 10%;
}

#generate-graph{
  margin: auto;
  width: 100%;
  height: 2rem;
  height: 2rem;
}

#combined-chart {
  float: left;
  width: 100%;
  height: 100%;
}

#canvas-div {
  overflow: scroll;
  overflow: scroll;
  position: relative;
  width: 80%;
  height: 95vh;
  margin-left: 1em;
  border: 2px solid black;
}
