body {
  font-family: Arial, sans-serif;
  display: flex;
}

#file-select-div {
  left: 30%;
  right: 30%;
  top: 10%;
  padding: 1em;
  width: fit-content;
  height: fit-content;
  border: 2px solid #333;
}

#b-flow-div,
#e-flow-div {
  padding: 1em;
  box-sizing: border-box;
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.2s ease;
}

#b-flow-div input[type="file"],
#e-flow-div input[type="file"]{
  width:20%;
}

#b-flow-div input[type="text"],
#e-flow-div input[type="text"]{
  width: 10%;
  margin:auto;
}

#generate-graph{
  margin: auto;
  display: block;
  width: 70%;
  height: 2rem;
}

#combined-chart {
    width: 100%;
    height: 100%;
}

/*
#canvas {
  
  position: relative;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
  border: 2px solid #333;
  overflow: scroll;
  width: 80%;
  height: 850px; 
}*/